$header-sizes: (
  small: (
    'h1': 48,
    'h2': 20,
    'h3': 19,
    'h4': 18,
    'h5': 17,
    'h6': 16,
  ),
  medium: (
    'h1': 72,
    'h2': 40,
    'h3': 31,
    'h4': 25,
    'h5': 20,
    'h6': 16,
  ),
  large: (
    'h1': 48 * 2,
    'h2': 40,
    'h3': 31,
    'h4': 25,
    'h5': 20,
    'h6': 16,
  ),
);

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
}

.app-root {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif,
}

.row.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: none;
}

.full-height {
  height: 100%;
}

.header-row {
  background: url('../images/sacCapitol.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .title {
    white-space: nowrap;
    font-weight: 300;
    text-align: center;
    font-size: 10vw;
    padding: 2em;
    text-transform: uppercase;
    text-shadow: 2px 2px #333;
    color: #fff;

    // @include breakpoint(medium) {
    //   padding: 1em;
    // }
    
    // @include breakpoint(small) {
    //   padding: 0.8em;
    // }
  }
}

.tabs {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .tab {
    height: 100%;
    cursor: pointer;
    background: rgba(1, 1, 1, .25);
    box-shadow: 0px -2px 5px 0px #777 inset;
    border-top: 1px solid black;
    border-left: .5px solid black;
    border-right: .5px solid black;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
  }
  .active {
    background: white;
    box-shadow: none;
  }
}

.rendered-tab {
  height: calc( 100vh - 300px - 50px);

  display: flex;
  flex-direction: column;
  font-size: 28px;
  padding: 10px 50px;
}

.place-map {
  height: 100%;
  width: 100%;
}

.title-text {
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}
.before-warning{
  color: red;
}
.accessibility-warning {
  list-style-type: none;
}

.story-list {
  margin: 0px;
  padding: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  .form-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-height: 50px;
    .form-input {
      height: 2.4375rem;
      font-size: 1rem;
      .button {
        background-color: lightgray;
      }
    }
  }
}

.resources {
  &-info {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  &-header {
    margin: 5px 0 0 0;
  }
  &-back-to-top {
    font-size: 14px;
  }
  &-image {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

.svg-icon {
  transform: rotate(-90deg);
}

#map-container {
  height: 20em;
}
